.content {
  padding_top: 70px;
}

.navbar-default{
  background-color: orange;
  border-color:none; 
}

@media (max-height: 767px){
  .img-responsive{
    max-height: 45%;
    min-width: 60%;
    max-width: 90%;
  }
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

